<div
  class="upload text-center d-flex justify-content-center align-items-center"
>
  <div
    class="drop-zone"
    ng2FileDrop
    [uploader]="uploader"
    (onFileDrop)="addFiles()"
  >
    <span>Drag and drop or </span>
    <input
      type="file"
      ng2FileSelect
      style="display: none"
      #file
      accept="{{ config.extType }}"
      [uploader]="uploader"
      multiple
      (fileOver)="handleFileOver()"
      (onFileSelected)="addFiles()"
    />
    <div>
      <button
        mat-raised-button
        color="primary"
        class="add-files-btn"
        (click)="chooseDocument()"
      >
        Choose Document
      </button>
    </div>
  </div>
</div>
<mat-list>
  <mat-list-item *ngFor="let item of this.uploader.queue">
    <h4 mat-line>{{ item.file.name }}</h4>

    <mat-progress-bar
      *ngIf="progress && progress[item.file.name]"
      mode="determinate"
      [value]="progress[item.file.name].progress | async"
    >
    </mat-progress-bar>
    <mat-icon class="delete text-center" (click)="item.remove()"
      >delete</mat-icon
    >
  </mat-list-item>
</mat-list>
